.principal {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.caja1 {
  width: 70%;
  display: flex;
  flex-direction: column;

}

.formulario {
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


.caja-azul2 {
  min-height: 29%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100px 100px 0px 0px;
  background-color: #004AAD;

}


.img-bienestar {
  width: 11rem;
}



.img-registro {
  width: 50%;
  object-fit: cover;

}